# 
# $Id: paplot.cfg 203 2017-06-14 10:25:50+09:00 aokada $
# 

###################### mutation
[mutation]
use_gene_rate = 0

limited_genes = 
nouse_genes = 
limited_funcs = 
nouse_funcs = 
func_colors = 

### special item
# {#number_id}
# {#number_gene}
# {#number_mutaion}
# {#sum_mutaion}
# {#item_value}
# {#sum_item_value}

tooltip_format_checker_title1 = ID:{id}, gene:{gene}, {#sum_item_value}
tooltip_format_checker_partial = type[{func}], {chr}:{start}:{end}, [{ref} -----> {alt}]
tooltip_format_gene_title = gene:{gene}, {#sum_item_value}
tooltip_format_gene_partial = func:{func}, {#item_value}
tooltip_format_id_title = ID:{id}, {#sum_item_value}
tooltip_format_id_partial = func:{func}, {#item_value}

[result_format_mutation]
suffix = 

sept = ,
header = True
comment = 
sept_func = 
sept_gene = 

# column index (required)
col_func = func
col_gene = gene

# column index (option)
col_opt_chr = Chr
col_opt_start = Start
col_opt_end = End
col_opt_ref = Ref
col_opt_alt = Alt
col_opt_id = ID

[merge_format_mutation]
lack_column_complement = NA
sept = ,
